.mainContainer {
    display:flex;
    flex-direction: column;
    align-items:last baseline;
    justify-content:center;
    padding-right:30px;
    background:url("../../assets/common-banner.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto;
    height: 50vh;
}

.pageTitle {
    margin-bottom:0;
}

.MuiBreadcrumbs-li {
    padding:0;
}