.container {
    background-color:#fff;
}
.mainCartContainer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:90%;
    margin:0 auto;
    padding-bottom:15px;
    border-bottom:1px solid gray;
}

.imageCartContainer {
    display:flex;
    align-items:center;
    gap:15px;
}

.priceCartContainer {
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:40%;
}

.priceCart {
    color:black;
    font-weight:500;
}

.mainNumberContainer {
    position:relative;

}

.inputCart {
     padding: 10px;
     font-size: 16px;
     width: 50px;
     padding-right: 30px; 
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
-moz-appearance: textfield;
font-size: 20px;
height: 49px;
padding: 10px;
box-sizing: border-box;
}

.numberContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



