.mainContainer {
    background-color:#fff;
    padding:40px 30px;
}

.blogcardContainer {
    padding: 20px 30px;
    margin-bottom: 20px;
}

.blogcard {
    background-color: rgba(0, 0, 0 ,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogtitle {
    margin:0;
}

.mainBlogContainer {
    padding:30px 0;
}

.blogTitle {
    color:black;
    text-align: right;
}

.blog {
    color:orange;
}

.blogContainer {
    display:flex;
    flex-direction:column;
}

.blogDetails {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.blogImageContainer {
    margin-top:15px;
}

.blogImage {
    max-width:100%;
}

.blogHeading {
    color: black;
}

.blogHeading {
    padding:0;
    margin:0;
    margin-top: 6px;
    text-align:left;
}

.blogHeading:hover {
    cursor: pointer;
    color:red;
}

.blogDescription {
    margin: 10px 0;
}

.searchContainer {
    border:1px solid #eeee;
    padding:30px 20px;
}

.mainSearchContainer {
    margin-bottom:30px;
}

.numberContainer {
    padding:30px 40px;
    width: 80%;
    margin: 20px auto;
}

.authorName {
    text-align:center;
}
.authorContainer {
    display:flex;
    flex-direction: column;
    text-align: center;
    border-top:1px solid gray;
    padding: 30px 0;
}

.bootCamps {
    text-align:center;
    margin:0;
}

.postContainer {
    background-color: orange;
    margin-bottom:15px;

}

.outerpostContainer {
    border-top: 1px solid gray;
    padding:30px 0;

}

.post {
    text-align: center;
    color:#fff;
    font-size:20px;
    margin:0;
    font-weight:400;
}

.mainpostContainer {
    padding: 30px 0;
    border-top: 1px solid gray;

}

.postsContainer {
    display:flex;
    align-items: center;
    gap:20px;
    margin-top:10px;
}


.postDescription {
    margin:0;
    color:black;
    font-weight: 400;
}

.postDescription:hover {
    cursor: pointer;
    color: orange;
}

.postTime {
    color:gray;
    margin: 0;
}

.mainadvertContainer {
    border-top: 1px solid red;

}

.advertContainer {
    background-color: #fff;
    border: 1px solid gray;
    padding: 30px 40px;
    margin: 30px 0;
    width: 71%;
}

.advert {
    font-size:30px;
}

.container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px dotted gray;

}

.container:hover {
    border-bottom:1px dotted orange;

}

.container:hover .postsDetail{
    cursor: pointer;
    color: orange;
    /* border-bottom:3px dotted orange; */

}

.postsDetail {
    margin: 0;
    padding:10px 0;
}

.newsContainer {
    padding:30px 0;
    border-top:1px solid gray;
}

.newsLetter {
    text-align: center;
}

.inputBlogContainer {
    display: flex;
    align-items: stretch;
}

.subContainer {
    width: 95%;
}


.unsubscribe {
    text-align: center;
    margin:6px 0;
    font-size: 12px;
}

.tagContainer {
    padding: 30px 0;
    border-top: 1px solid gray;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
}

@media (min-width:768px) {
    .mainBlogContainer {
        display:flex;
        flex-direction: row;
        gap:20px;
    }

    .searchContainer {
        width: 96%;
        margin: 0 auto;
    }
}

@media (min-width:992px) {
    .mainouterContainer {
        display: flex;
        gap: 20px;
    }


    .blogImageContainer {
        margin-top: 0px;
    }

    .mainBlogContainer {
        padding: 0;
    }

    .blogDescription {
        padding: 0px;
    }

    .outerblogContainer {
        width: 20%;
    }

    .test {
        text-wrap: wrap;
    }

    .blogDetail {
        padding: 0;
        margin: 8px 0;
        font-size: 14px;
        text-align: left;
    }

    .blogTitle {
        text-align: left;
        padding:0;
    }
}