.mainContainer {
    background-color:#fff;
    padding:40px 30px;
}




.mainBlogContainer {
    padding:30px 0;
}

.blogTitle {
    color:black;
    text-align: right;
}

.blog {
    color:orange;
}

.blogContainer {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

.blogDetails {
    display:flex;
    align-items: center;
    gap:10px;
}

.blogImageContainer {
    margin-top:15px;
}

.blogImage {
    max-width:100%;
}

.blogHeading {
    color: black;
}

.blogHeading {
    padding:0;
    margin:0;
    margin-top: 6px;
    text-align:left;
}

.blogHeading:hover {
    cursor: pointer;
    color:red;
}

.blogDescription {
    margin: 10px 0;
}

/* .searchContainer {
    background-color:#fdfdfd;
    border:1px solid #ececec;
} */

@media (min-width:768px) {
    .mainBlogContainer {
        display:flex;
        flex-direction: row;
        gap:20px;
    }
}