/* Category CSS */
.mainCategory {
    background-color:#fff;
    color:black;
    padding-top:40px;

}

.categoryContainer {
    margin:0 auto;
    width:90%;
    box-shadow:0px 0px 15px 0px #777777;
}

.browse {
    text-align:left;
    color:#fff;
    background-color: aquamarine;
    width:90%;
    margin:0 auto;
    padding:20px 40px;
    font-size:20px;
}

.categoryContainer li {
    list-style: none;
    padding: 13px 0;
    padding-right:5px;
    border-bottom:1px solid rgb(161, 158, 158);
    font-size:15px;
}

.categoryContainer li:hover {
    color:orange;
    cursor:pointer;
}

.mainContainer {
    background-color: lightblue;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    margin:0 auto;
    padding:5px 10px;
}