/* Category CSS */
.mainCategory {
    background-color:#fff;
    color:black;
    padding-top:40px;
    padding-bottom:33px;

}

.categoryContainer {
    margin:0 auto;
    width:90%;
    box-shadow:0px 0px 15px 0px #777777;
    padding-bottom:10px;
    margin-bottom:35px;
    
}

.browse {
    text-align:left;
    color:#fff;
    background-color:#828bb3;
    width:90%;
    margin:0 auto;
    padding:20px 40px;
    font-size:20px;
}

.categoryContainer li {
    list-style: none;
    padding: 13px 0;
    padding-right:5px;
    border-bottom:1px solid rgb(161, 158, 158);
    font-size:15px;
}

 .container .labelContainer:last-child {
    padding-bottom:20px;
}

.categoryContainer li:hover {
    color:orange;
    cursor:pointer;
}

.brand {
    text-align:left;
    color:black;
    width:84%;
    margin:0 auto;
    padding:20px 20px 10px 20px;
    font-size:20px;
    font-weight:bold;
    text-transform:uppercase;
}

.labelContainer {
    padding: 3px 0;
    font-size:15px;
    width:76%;
    margin:0 auto;
}

.line {
    width:83%;
    height:1px;
    margin:0 auto;
    background-color:gray;
}

/* Price range container */

.priceContainer {
    background-color:white;
    text-align:center;
}

.price {
    margin-top:0;
    color:black;
    padding-top:0;
}

.sliderContainer {
    width:90%;
    margin:0 auto;
}

.price {
    width:79%;
    margin:5px auto 0 auto;
    color:gray;
}

.cash {
    color:"light"
}

.container {
    width:100%;
}


/* Select and Pagination css */
.mainContainer {
    background-color: #828bb3;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    margin:40px auto;
    padding:5px 10px;
    width:90%;
}

.select {
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Shop container CSS */

.maincategoryContainer {
    background-color: #fff;
    width:100%;
    padding: 5px 50px;
}

.shopContainer {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    width:100%;
    padding-top:40px;
}

.sideContainer {
    width:100%;
}

.shoeContainer {
    display:flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.shoeCompContainer {
    width: 90%;
}

.formContainer {
    display:flex;
    gap:15px;
}

.heightContainer {
    height:360px;
}
@media (min-width:768px) {
    .shopContainer {
        flex-direction:row;
        width:91%;
        align-items: flex-start;
        justify-content: space-between;
        margin:0 auto;

    }

    .sideContainer {
        /* width: 30%; */
        width:41%;
    }

    .container {
        /* width:68%; */
        width:58%;
        display:flex;
        flex-direction:column;
    }

    .mainContainer {
        width:100%;
    }

    .maincategoryContainer {
        padding:0px;
    }

    .shoeContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .shoeCompContainer {
        width:48%;
    }

    .heightContainer {
        height:250px;
    }
}

@media (min-width:992px) {
    .shoeCompContainer {
        width:30%;
    } 

    .shopContainer {
        width:90%;
    }

    .sideContainer {
        width:30%;
    }

    .container {
        width:68%;
    }
}


