.checkoutContainer {
    background-color:#fff;
    padding-top:30px;
}
.return {
    background-color:#e8f0f2;
    width:85%;
    margin:15px auto;
    padding-left:30px;
    padding-top:0.5px;
    padding-bottom:0.5px;
}

.click {
    color:red;
    text-decoration:underline;
}

.customer {
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
}

.inputContainer {
    width:80%;
    margin:10px auto;
}

.checkContainer {
    display:flex;
    width:80%;
    margin:0 auto;
    text-align:center;
}

.meContainer {
    display:flex;
    align-items: center;
    width:90%;
    color:gray;
}

.checkbox {
    width:5%;
    margin:0 5px 0 0;
}

.couponContainer {
    width:80%;
    margin:0 auto;
}

.billContainer {
    width:80%;
    margin:0 auto;
}

.list {
    padding:0;
}

.list li {
    list-style:none;
    margin-bottom:10px;
}

.inputContainer.Address {
    width:80%;
    margin:10px 0;
    color:gray;
}

.orderContainer {
    width:80%;
    margin:15px auto;
    background-color:#e8f0f2;
    padding:20px 30px;
}

.order {
    color:black;
    font-size:18px;
    margin:0;
    padding-bottom:10px;
    border-bottom: 1px solid gray;
}

.payContainer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:red;
}

.product {
    margin:0;
}

.freshContainer {
    display:flex;
    align-items: center;
    gap:60px;
    justify-content:space-between;
    background-color: blue;
}

.price li {
    list-style: none;
    padding:0;
}

.payPal {
    display:flex;
    align-items: center;
    justify-content:space-between;
}