.checkoutContainer {
    background-color:#fff;
    padding:30px 40px;
   
}
.return {
    background-color:#e8f0f2;
    width:85%;
    margin:15px auto;
    padding-left:30px;
    padding-top:0.5px;
    padding-bottom:0.5px;
}

.click {
    color:red;
    text-decoration:underline;
}

.customer {
    width: 80%;
    margin: 10px auto;
    font-size: 14px;
    text-align: left;
}

.informationContainer {
    width:80%;
    margin:10px auto;
}

.container {
    display:flex;
    flex-direction:column;
}

.inputContainer {
    width:80%;
}

.inputContainer.check {
    margin-top:15px;
}

.checkContainer {
    display:flex;
    width:80%;
    margin:0 auto;
    text-align:center;
}

.meContainer {
    display:flex;
    align-items: center;
    width:90%;
    color:gray;
}

.checkbox ,.radio {
    width:5%;
    margin:0 5px 0 0;
}



.check {
    color:black;
    font-size: 15px;
}

.payPalContainer {
    background-color: #fff;
    margin-top:10px;
    padding: 10px;
}

.confirmInformation {
    margin:5px 0;
    text-align:left;
}


.outercouponContainer {
    width:70%;
    padding-left: 7.5%;
}

.billContainer {
    width:80%;
    margin:0 auto;
}

.bill {
    text-align:left;
    font-size:18px;
    color:black;
    font-weight: 390;
    margin-bottom: 10px;
}

.list {
    padding:0;
}

.list li {
    list-style:none;
    margin-bottom:10px;
}

.inputContainer.Address {
    width:80%;
    margin:10px 0;
    color:gray;
}

.orderContainer {
    width:80%;
    margin:15px auto;
    background-color:#e8f0f2;
    padding:20px 30px;
}

.caption {
    padding-left:0;
}

.quality {
    text-align: left;
}




.product {
    margin:0;
}


.payPal {
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:15px;
}

.termsContainer {
    margin:10px 0;
}

.termsContainer  label{
    color:black;
    font-size:12px;

}

.termsContainer span {
    color:red;
}

.paymentContainer {
    text-align: center;
    background-color:orange;
}

@media (min-width:768px) {
    .maininputContainer {
        display:flex;
        align-items: center;
        width:80%;
        margin:0 auto;
        gap:15px;
    }

    .inputContainer {
        width:48%;
    }
}

@media (min-width:992px) {
    .contactInformation {
        display:flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }

    .inputContainer {
        width:100%;
    }

    .couponCode {
        width:50%;
    }

    .checkbox.last {
        width: 13%;
    }

    .billContainer {
        width: 60%;
    }

    .orderContainer {
        width:35%;
    }

    .radio {
        width:15px;
    }
}