.mainContainer {
    background-color:#fff;
    padding: 30px 0;
}
input {
    margin-bottom:200px;
}

.container {
    width:90%;
    margin:20px auto;
}

.track {
    font-size:14px;
    color: gray;
}

.inputContainer {
    width:73%;
}