.mainContainer {
    display:flex;
    align-items:center;
    padding:60px 20px;
    gap:15px;
    flex-wrap:wrap;
    background-color: #fff;
}

.logoContainer {
    width:45%;
    opacity:0.2;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:20px 25px;
}


.logoContainer:hover {
    cursor: pointer;
    opacity:0.8;
}


@media (min-width:768px) {
    .mainContainer {
        justify-content: space-between;
        padding:20px ;
        gap:10px;
    }

    .logoContainer {
        width:15%;

    }
}


@media (min-width:992px) {
    .mainContainer {
        padding:30px 50px 30px 70px;
    }
}