.mainContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:20px;
    padding:10px;
    width:95%;
    margin:20px auto;
    flex-wrap:wrap;
    background-color: beige;
}

.imageContainer {
    width:95%;
} 

.imageContainer2 {
    width:100%;
}

.imageContainer img {
    max-width:100%;
    width:100%;
}



@media (min-width:578px) {
    .mainContainer {
        width:85%;
    }

    .imageContainer {
        width:85%;
    }
}


@media (min-width:768px) {

    .mainContainer {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        align-items: start;
    }

    .imageContainerone {
        grid-column:1/3;
        overflow: hidden;
    }

    .imageContainer {
        align-self: stretch;
        justify-self: stretch;
    }

    .imageContainertwo {
        grid-column:2/span 2;
        overflow: hidden;
    }

    .imageContainerthree {
      grid-column: 2/span 2;
    }
  
}

