.mainContainer {
    background-color: #fff;
    padding-top: 20px;

}

.mainOuterContainer {
    width: 90%;
    margin: 0 auto;
}

.mainBlogContainer {
    padding:30px 0;
}

.blogTitle {
    color:black;
    text-align: right;
}

.blog {
    color:orange;
}

.blogContainer {
    display:flex;
    flex-direction:column;
    align-items: flex-end;
}

.blogDetails {
    display:flex;
    align-items: center;
    gap:10px;
}

.blogDetails p {
    margin: 6px 0;
}

.iconContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
}
.blogImageContainer {
    margin-top:15px;
}

.blogImage {
    max-width:100%;
}

.blogHeading {
    color: #222;
    padding:0;
    margin:0;
    margin-top: 6px;
    text-align:left;
    font-size: 27px;
}

.blogHeading:hover {
    cursor: pointer;
    color:red;
}

.blogDescription {
    margin: 10px 0;
    line-height: 1.7;
    font-size: 14px;
}

.featureDescription {
    padding-top: 40px;
    padding-left: 32px;
    line-height: 1.7;
    font-size: 14px;
}

.blogDetailsImage {
    display: flex;
    align-items: center;
    gap: 30px;
}

.detailsImageContainer {
    width: 49%;
}

.detailsImage {
    width: 100%;
}

.features {
    margin-top: 0px;
    line-height: 1.7;
    font-size: 14px;
}

.bootCamp {
    line-height: 1.7;
    font-size: 14px;
}

.featureContainer {
    padding-bottom: 30px;
}

.nextPreviousContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.directionContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.directionContainer.nextContainer {
    align-self: flex-end;
}

.post {
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.postDirection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.direction {
    margin: 0;
}

.commentContainer {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.imageCommentContainer {
    display:flex;
    gap: 15px;
}

.commenter {
    color:black;
    margin:0;
    text-align:left;
    padding:0;
    font-size: 18px;
    font-weight: 500;
}

.date {
    margin:0;
    color:gray;
    text-align: left;
    font-size: 12px;
}



