:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -yellow-gradient-color:linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

html, body {
  overflow-x:hidden;
} 


.base-Menu-listbox {
  padding-left:0px;
  margin-top:32px;
}

.MuiListItemButton-root {
  padding:0px !important;
}

.MuiList-root {
  padding:0px !important;
}

.MuiListItemText-root {
  margin:0 !important;
}

.MuiRadioGroup-root {
  padding-left:40px !important;
 
}


.MuiTabs-flexContainer {
  gap:10px;
}

