/* product section css */

.productContainer {
    background-color:#fff;
}

.mainproductContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
    margin:0 auto;
}

.productImageContainer {
    width:84%;
    background-color:#777777;
    padding:100px 40px;
    margin:0 auto;
}

.productImage {
    max-width:100%;
    vertical-align:middle;
    height:auto;
}

.productdescriptionContainer {
    width:90%;
    margin:0 auto;
    padding-bottom:30px;
}

.jeans {
    color:black;
    font-weight:400;
    padding:0px;
    text-align:left;
}

.productPrice {
    color:orange;
    padding:0;
    text-align:left;
    font-weight:bold;
    margin-top:10px;
}

.household {
    color:orange;
    padding-left:10px;
}

.stock {
    padding-left:10px;
}

hr {
    border:1px dotted gray;
}

.qualityContainer {
    display:flex;
    gap:15px;
    align-items:center;
}

input {
    width:30%;
}

input[type="number"] {
    font-size: 20px; /* Increase font size */
    height: 40px; /* Increase height */
    padding: 10px; /* Add padding */
    box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.iconContainer {
    display:flex;
    align-items:center;
    gap:10px;
    margin-top:15px;
}
.labelContainer {
    gap:10px;
    overflow-x:auto;
  
}

.description {
    color:gray;
    text-align:left;
}

.boxContainer {
    background-color:#fff;
}

.rating {
    background-color:lightblue;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:15px 30px;
}

.overall {
    padding:0;
    color:black;
}

.number {
    color:orange;
    font-size:50px;
    font-weight:bold;
    padding:0;
    margin:0;
}
.tableContainer {
    display:flex;
    gap:15px;
}

.reviewContainer {
    display:flex;
    flex-direction: column;
    gap:15px;
    /* align-items:center; */
}

.mainreviewContainer {
    display:flex;
    align-items:center;
    gap:15px;
    flex-direction:column;
    width:90%;
}

.tableContainerR {
    display:flex;
    flex-direction:column;
    gap:15px;
    width:50%;
    margin:0 auto;
}


@media (min-width:992px) {
    .mainproductContainer {
        flex-direction:row;
        padding:50px;
        gap: 45px;
    }

    .productImageContainer {
        width:48%;
    }

    .productdescriptionContainer {
        width:40%;
    }

    .reviewContainer {
        flex-direction:row;
        justify-content:space-between
    }

    .mainreviewContainer {
        width:45%;
    }

    .inputContainer {
        width:45%;
        align-self:flex-start;
    }
 
    .ratingContainer {
        display:flex;
        flex-direction: column;
        gap:10px;
        width:45%;
    }

    .containerFour {
        display:flex;
        flex-direction:row;
    }

    .tableContainer{
        width:49%;
    }
    
    .inputreviewContainer {
        width:49%;
    }
}