.mainContainer {
    display:flex;
    gap:15px;
    flex-direction: column;
    align-items:center;
    padding:30px 9px;
}

.aboutContainer {
    width:100%;
}

p {
    padding:0;
    text-align:left;
}

h2 {
    text-align:left;
}

.inputContainer {
    padding-right:15px;
}
.newsContainer {
    width:100%;
}

.imagesContainer {
    width:100%;
}

.imageContainer {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    margin-top:15px;
}

.socialContainer {
    width:100%;
}

.logoContainer {
    display:flex;
    gap:8px;
}

.copyContainer {
    display:flex;
    align-items: center;
    width:100%;
}

.copy {
    font-size:15px;
}


@media (min-width:992px) {
    .mainContainer {
        display:flex;
        gap:15px;
        width:90%;
        margin:20px auto;
    }
    
    .aboutContainer {
        width:27%;
    }

    .newsContainer {
        width:32%;
        align-items: left;
    }

    .imagesContainer {
        width:25%;
    }

    .imageContainer {
        display:flex;
        align-items: center;
        flex-wrap:wrap;
        gap:8px;
        margin-top:15px;
    }
    
    .socialContainer {
        width:13%;
        margin-left:5px;
    }

    .copy {
        display:flex;
        align-items: center;
        justify-content: center;
        gap:5px;
        margin-top:50px;
    }
}