.mainContainer {
    position:relative;
    width:100%;
}

.navContainer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    padding:15px 30px;
}

.logoContainer {
    display:flex;
    align-items: center;
}

.logoContainerm {
    width:100vw;
}

.desktopContainer {
    display:none;
}

.menuItem {
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    font-size:15px;
    font-weight:400;
}

/* Mobile Navigation */

.listContainer {
    display:flex;
    flex-direction:column;
    position:absolute;
    right:0;
    padding-right:50%;
    top:90px;
    background-color: white;
    width:100%;
    row-gap:15px;
    align-items:start;
    transition: transform 0.5s ease-in;
    transform: translateX(70%);
}

.listContainer.open {
    transform: translateX(0%);
}

@media (min-width:991px) {
    .desktopContainer {
        display:flex;
        justify-content: space-between;
        gap:50px;
    }

    .iconsContainer {
        display:flex;
        align-items: center;
        gap:20px;
    }

    .mobileiconContainer {
        display:none;
    }
}