.mainContainer {
    position:relative;
    width:100%;
}

.navContainerDesktop {
    display:none;
}


.logoContainer {
    display:flex;
    align-items: center;
    z-index:2000;
    opacity:1;
    background-color: white;
}

.logoContainerm {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    padding:15px 30px;
}

.mobileiconContainer {
    z-index:2000;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    padding:15px 30px;
}


.menuItem {
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    font-size:15px;
    font-weight:400;
}

.menuItem.btnItem {
    border:none;
    background-color:transparent;
}

.list {
    padding:10px 15px;
    border-bottom:1px solid gray;
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    font-size:15px;
    font-weight:400;
    color:orange;
    display:flex;
    flex-direction:column;

}


/* Mobile Navigation */

.listContainer {
    display:flex;
    flex-direction:column;
    background-color: white;
    height:50%;
    row-gap:15px;
    align-items:start;
    padding:15px 60px;
    margin-top:80px;
}


@media (min-width:991px) {
    .navContainerDesktop {
        display:flex;
        align-items:center;
        justify-content:space-between;
        background-color:#fff;
        padding:15px 30px;
    }

    .desktopContainer {
        display:flex;
        justify-content: space-between;
        gap:50px;
    }

    .iconsContainer {
        display:flex;
        align-items: center;
        gap:20px;
    }

    .mobileiconContainer {
        display:none;
    }
}