.navContainer {
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    padding:15px 30px;
}

.logoContainer {
    display:flex;
    align-items: center;
}

.desktopContainer {
    display:none;
}

.menuItem {
    text-decoration:none;
    text-transform:uppercase;
    color:black;
    font-size:15px;
    font-weight:400;
}

/* Mobile Navigation */

.mobileMenu.open {
    display:flex;
    align-items:center;
    flex-direction:column;
}


.listContainer {
    display:flex;
    flex-direction:column;
    position:absolute;
    left:0;
    right:0;
    padding-right:50%;
    top:90px;
    background-color: var(--primary);
    width:100%;
    row-gap:15px;
    align-items:end;
    transition: transform 0.5s ease-in;
    transform: translateX(70%);
}

.listContainer.open {
    transform: translateX(0);
}

.menuNav {
    display:flex;
    flex-direction: column;
    row-gap:10px;
    align-items: end;
    margin-right:4%;  
}

.mobileCartContainer {
    display:flex;
    align-items:flex-start;
    column-gap: 15px;
    margin-right:5%;
    padding-bottom: 20px;
}

@media (min-width:991px) {
    .desktopContainer {
        display:flex;
        justify-content: space-between;
        gap:50px;
    }

    .iconsContainer {
        display:flex;
        align-items: center;
        gap:20px;
    }

    .mobileiconContainer {
        display:none;
    }
}