.mainContainer {
    background-color:#fff;
}

.imageContainer {
    position:relative;
    background:url('../../assets/exclusive.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:550px;
    width:100%;
    margin-top:90px;
}

.imageContainer::after {
    content:" ";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
}

h1 {
    color:#fff;
   padding-top:80px;
    z-index:2;
    position:relative;
    line-height:1.2;
    text-align:center;
    margin-bottom:0px;
}

.description {
    color:#fff;
    z-index:2;
    position:relative;
    line-height:1.2;
    text-align:center; 
    margin-top:5px;
}

.dateContainer {
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:15px;
    position:relative;
    z-index:2;
    height:100px;
    width:90%;
    border-radius:10px;
    margin:30px auto;
    border:1px solid #fff;
    background-color:#fff;
    color:black;
    padding:0 10px;

}

.btnContainer {
    text-align:center;
}

.imagesContainer {
    padding-top:42px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.imgContainer {
    display:none;
}

.image,.shoe {
    max-width:100%;
    height:auto;
}

.shoeContainer {
    text-align: center;
}

.priceContainer {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:25px;
    margin-top:-10px;
}

.price {
    color:black;
    font-weight:450;
}

.firstPrice {
    text-decoration:line-through;
    font-weight:350;
}

.feature {
    text-transform:uppercase;
    color:black;
    font-weight:400;
    text-align:center;
    width:60%;
    margin:0 auto;
}

.iconContainer {
    text-align:center;
    justify-content: center;
    display: flex;
}


@media (min-width:768px) {
    .imgContainer {
        display:block;
    }

    .feature {
        width:100%;
    }
}


@media (min-width:992px) {
    .mainContainer {
        display:flex;
        align-items:center;
        justify-content: center;
        gap:10px;
    }

    .imageContainer {
        width:50%;
    }

    .imagesContainer {
        padding:100px 40px 0px 40px;
    }
   
    .shoe {
        height:250px;
    }
}
